<form class="form-horizontal">

    <h4>General</h4>
    <div class="control-group">
        <label class="control-label">Gladys IP address</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-mini text-right" data-bind="address: settings.plugins.gladys.address">
                <span class="add-on">Exemple: http://192.168.1.30:8080</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Gladys IP token</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-mini text-right" data-bind="token: settings.plugins.gladys.token">
                <span class="add-on">Exemple: tjfd5f26d96f6d3skfoog6A9f6f5</span>
            </div>
        </div>
    </div>
    <h4>Automatic Shutdown</h4>
    <div class="control-group">
        <label class="control-label">Abort Timeout</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini text-right" data-bind="value: settings.plugins.gladys.abortTimeout">
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.gladys.rememberCheckBox"> Remember the value of "Shutdown after print finishes"
            </label>
        </div>
    </div>
        <div class="control-group">
        <label class="control-label">Plug ID</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini text-right" data-bind="plug: settings.plugins.gladys.plug">
                <span class="add-on">The id of your plug to turn off in Gladys Assistant</span>
            </div>
        </div>
    </div>
</form>
